// https://fonts.google.com/icons
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-sharp {
    font-variation-settings:
        'FILL' 1, // 0 outline
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1, // 0 outline
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1, // 0 outline
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.icon-rounded:after {
    font-family: "Material Symbols Rounded";
    // content: '\e5cc';
}

.icon-outlined:after {
    font-family: "Material Symbols Outlined";
    // content: '\e5cc';
}

.icon-sharp:after {
    font-family: "Material Symbols Sharp";
    // content: '\e5cc';
}